/* VIEW PALETTE */

* {
    font-family: 'Ubuntu Mono', monospace;
}

:root {
    --dazzleBlue: #3D5A80;
    --cerulean: #98C1D9;
    --lightCyan: #E0FBFC;
    --burntSienna: #EE6C4D;
    --gunMetal: #293241;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

ul {
    margin: 0;
    padding: .5rem;
}

li {
    display: flex;
    padding: .1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: all .1s ease-in-out;
}

li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

label {
    width: 15%;
    text-align: right;
}

select {
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: var(--lightCyan);
    background-image: none;
}

a {
    color: white;
    padding-left: .5rem;
    text-decoration: none;
}

strong {
    color: #19B5FE;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.w-45 {
    width: 45%;
}

.center {
    width: 100%;
    justify-content: space-evenly;
}

.p-bottom {
    padding-bottom: 1rem;
}

.flex-col {
    padding: 0;
    flex-direction: column;
}

.main-content {
    position: relative;
    width: 100vw;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    border-radius: 3px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px 1px lightgray;
}

.expand {
    width: 30%;
}

.card-head {
    padding: .7rem;
    border-radius: 3px;
    color: var(--cerulean);
    border-top: 5px solid var(--cerulean);
    border-bottom: .5px solid lightgray;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-info {
    margin: 0;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: 'Ubuntu Mono', monospace !important;
}

.card-content {
    border: none;
    outline: none;
    font-size: larger;
    padding: .5rem .5rem;
}

.header {
    background-color: var(--dazzleBlue);
}

.header-title {
    margin: 0;
    color: #FFF;
    padding-left: 1rem;
    transform: scale(1.1);
    font-family: Helvetica, Arial, sans-serif;
}

.footer {
    position: absolute;
    width: 100vw;
    margin: 0;
    bottom: 0;
    color: #FFF;
    background-color: var(--gunMetal);
}

.footer-title {
    text-align: center;
    font-weight: lighter;
}

.footer-students {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.student-profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    transition: all .1s ease-in-out;
}

.footer-students>* {
    list-style-type: none;
    font-size: smaller;
}

@media only screen and (max-width: 450px) {
    .footer {
        position: unset;
    }
    .card, .expand, .w-45 {
        width: 100vw;
    }
}

#text-right {
    color: grey;
}