/* VIEW PALETTE */

* {
  font-family: "Ubuntu Mono", monospace;
}

:root {
  --cerulean: #98c1d9;
  --dazzleBlue: #3d5a80;
  --lightCyan: #e0fbfc;
  --gunMetal: #293241;
  --burntSienna: #ee6c4d;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, var(--gunMetal), #0e0e0e) !important;
}

ul {
  margin: 0;
  padding: 0.5rem;
}

li {
  display: flex;
  padding: 0.1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.1s ease-in-out;
}

li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

label {
  width: 15%;
  text-align: right;
}

select {
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--lightCyan);
  background-image: none;
}

a {
  color: white;
  padding-left: 0.5rem;
  text-decoration: none;
}

strong {
  color: #19b5fe;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w-45 {
  width: 45%;
}

.center {
  width: 100%;
  justify-content: space-evenly;
}

.p-bottom {
  padding-bottom: 1rem;
}

.flex-col {
  padding: 0;
  flex-direction: column;
}

.main-content {
  position: relative;
  height: 0;
  width: 100vw;
  padding-top: 13%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0.1px var(--gunMetal), 0 0 15px 3px var(--lightCyan);
}

.expand {
  width: 30%;
}

.card-head {
  padding: 0.7rem;
  border-radius: 3px;
  color: var(--cerulean);
  border-top: 5px solid var(--cerulean);
  border-bottom: 0.5px solid lightgray;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-info {
  margin: 0;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: "Ubuntu Mono", monospace !important;
}

.card-content {
  border: none;
  outline: none;
  font-size: larger;
  padding: 0.5rem 0.5rem;
}

.header {
  background-color: var(--dazzleBlue);
  box-shadow: 0 0 5px 0.1px var(--lightCyan);
}

.header-title {
  margin: 0;
  color: #fff;
  padding-left: 1rem;
  transform: scale(1.1);
  font-family: Helvetica, Arial, sans-serif;
}

.footer {
  position: absolute;
  width: 100vw;
  margin: 0;
  bottom: 0;
  color: #fff;
  background-color: #3d5a8055;
  box-shadow: 0 0 3px 0.1px var(--lightCyan);
}

.footer-title {
  text-align: center;
  font-weight: lighter;
}

.footer-students {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.student-profile {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.footer-students > * {
  list-style-type: none;
  font-size: smaller;
}

#text-right {
  color: grey;
}

@media only screen and (max-width: 450px) {
  .footer {
    position: unset;
  }
  .card,
  .expand,
  .w-45 {
    width: 100vw;
  }
}

@media only screen and (max-width: 470px) {
  .main-content {
    padding: 0;
  }
}
